@import url('https://fonts.googleapis.com/css2?family=Bpmf+Huninn&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1{
    color:rgb(23, 47, 181);
    background-color: rgb(39, 161, 135);
    font-size: 50px;
    font-weight: 350;
}
*{
font-family: "Bpmf Huninn", sans-serif;
}