*{
    padding: 0;
    margin: 0;
}
.abd {
    border: 2px solid red;
    padding: 20px;
    background-color: rgb(125, 211, 240);

}
.abd h1{
    border: 1px solid red;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 15px;
    margin-bottom: 80px;
     
}
.abd p{
    border: 1px solid rgb(29, 191, 61);
    padding: 10px;
}